<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FML</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/lib/tinymce/jquery.tinymce.min.js"></script>
    <link rel="stylesheet" href="~/lib/datepicker/css/bootstrap-datepicker.min.css">
   
    <link href="~/assets/css/icons.min.css" rel="stylesheet">
    <link href="~/assets/css/custom.css" rel="stylesheet" asp-append-version="true">
    <link href="~/cdn_local/select2.min.css" rel="stylesheet" />

    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet">
    <!-- Sweetalert -->
    <link href="~/lib/sweetalert/sweetalert.css" rel="stylesheet">

    <script src="~/assets/js/jquery.min.js"></script>
    <!-- Styles -->
    <style>
        #chartdiv {
            width: 100%;
            height: 500px;
        }
    </style>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body data-sidebar="dark">
    <!-- start .layout-wrapper -->
    <div id="layout-wrapper">
        <!-- start header -->
        @await Component.InvokeAsync("Header")

            <div class="page-content">
                <div class="container-fluid">
                    <!-- start .page-title-box -->
                    </div>
                    <!-- end .page-title-box -->
                    @RenderBody()
                </div>
                <!-- end .container-fluid -->
        </div>
        <!-- start .main-content -->
    
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/popper/popper.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/lib/metismenu/metisMenu.min.js"></script>
    <script src="~/lib/simplebar/simplebar.min.js"></script>
    <script src="~/cdn_local/fullcalendar@6.1.15/select2.min.js"></script>

    <!-- Custom scripts for all pages -->
    <script src="~/assets/js/app.js" asp-append-version="true"></script>
    <script src="~/assets/js/site.js"></script>

    <script type="text/javascript">

        function notify(message, type) {
            $.growl({
                message: message
            }, {
                type: type,
                allow_dismiss: false,
                label: 'Cancel',
                className: 'btn-xs btn-inverse',
                placement: {
                    from: 'bottom',
                    align: 'right'
                },
                delay: 5000,
                animate: {
                    enter: 'animated fadeInRight',
                    exit: 'animated fadeOutRight'
                },
                offset: {
                    x: 30,
                    y: 30
                }
            });
        };

        // Generate Chart
        function chart(id, type, data, options) {

            var canvas = document.getElementById(id);
            var ctx = canvas.getContext('2d');
            new Chart(ctx, {
                type: type,
                data: data,
                options: options
            });
        }

        $(document).ready(function () {

            //initiate all select2 class
            $('.select2').select2({
                allowClear: true,
                placeholder: "Select"
            });

            //initiate all datepicker class
            $('.datepicker').datepicker({
                todayHighlight: true,
                format: 'yyyy-mm-dd',
                autoclose: true
            });

            //initiate all datepickeryearmonth class
            $('.datepickeryearmonth').datepicker({
                startView: "months",
                format: "yyyy-mm",
                minViewMode: "months",
                autoclose: true
            });

            var message = $("#StatusMessage").text();
            if (message) {
                if (message.includes("Error")) {
                    //error
                    notify(message, 'danger');
                } else {
                    //success
                    notify(message, 'success');
                }
            }
        });
    </script>
    
    @await RenderSectionAsync("Scripts", required: false)

    <script>
         $(document).ready(function() { 

            $('.Helpinfo').click(function () {
                $("#ModelContentDiv").html($('.page-info').html());
                $("#ModelForAll").modal("show");
            })
            $('.Uploadimage').click(function () {
                $("#ModelContentDiv").html($('.image-info').html());
                $("#ModelForAll").modal("show");
            })
        }); 
    </script>
  
</body>
</html>