@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <title>
       Professional Wargame Simulator
    </title>

    @* <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" /> *@

    <link href="~/creativeassets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/creativeassets/css/nucleo-svg.css" rel="stylesheet" />

    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet">

    @* <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet"> *@

    <link id="pagestyle" href="~/creativeassets/css/material-dashboard.min.css?v=3.0.6" rel="stylesheet" />

    <style>
        .async-hide {
            opacity: 0 !important
        }
    </style>
</head>
<body class="error-page">
    @* Google Tag Manager - DISABLED FOR OFFLINE *@
    @* <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> *@

    <main class="main-content  mt-0">
        <div class="page-header align-items-start min-vh-100"
             style="background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);">
            <span class="mask bg-gradient-dark opacity-6"></span>
            <div class="container my-auto">
                <div class="row">
                    <div class="col-lg-12 m-auto text-center">
                        <h1 class="display-1 text-bolder text-white">Error 404</h1>
                        <h2 class="text-white">Erm. Page not found</h2>
                        <p class="lead text-white">We suggest you to go to the homepage.</p>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-white mt-4">Go to Homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="~/creativeassets/js/core/popper.min.js"></script>
    <script src="~/creativeassets/js/core/bootstrap.min.js"></script>
    <script src="~/creativeassets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/creativeassets/js/plugins/smooth-scrollbar.min.js"></script>
    
    @* GitHub Buttons - DISABLED FOR OFFLINE *@
    @* <script async defer src="https://buttons.github.io/buttons.js"></script> *@

    <script src="~/creativeassets/js/material-dashboard.min.js?v=3.0.6"></script>
    
    @* Cloudflare Analytics - DISABLED FOR OFFLINE *@
    @* <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"8c295891be6999bd","serverTiming":{"name":{"cfExtPri":true,"cfL4":true}},"version":"2024.8.0","token":"1b7cbb72744b40c580f8633c6b62637e"}' crossorigin="anonymous"></script> *@
</body>
</html>