@{
    Layout = null;  
}






<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Display a map in Cesium JS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cesium.com/downloads/cesiumjs/releases/1.116/Build/Cesium/Cesium.js"></script>
    <link href="https://cesium.com/downloads/cesiumjs/releases/1.116/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
    <style>
        #cesiumContainer {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<body>
    <div id="cesiumContainer">
        <a href="https://www.maptiler.com" style="position:absolute;right:10px;bottom:10px;z-index:999;"><img src="https://api.maptiler.com/resources/logo.svg" alt="MapTiler logo"></a>
    </div>
    <script type="module">
        const key = 'Qtj3cVK3NsJ8PZv6ENko';
        const viewer = new Cesium.Viewer('cesiumContainer', {
          animation: false,
          baseLayerPicker: false,
          navigationHelpButton: false,
          sceneModePicker: false,
          homeButton: false,
          geocoder: false,
          fullscreenButton: false,
          timeline: false,
          baseLayer: new Cesium.ImageryLayer( new Cesium.UrlTemplateImageryProvider({
            url: `https://api.maptiler.com/tiles/satellite-v2/{z}/{x}/{y}.jpg?key=${key}`,
            minimumLevel: 0,
            maximumLevel: 20,
            tileWidth: 512,
            tileHeight: 512,
            credit: new Cesium.Credit("<a href='https://www.maptiler.com/copyright/' target='_blank'>&copy; MapTiler</a> <a href='https://www.openstreetmap.org/copyright' target='_blank'>&copy; OpenStreetMap contributors</a>", true)
          })),
          terrain: new Cesium.Terrain(Cesium.CesiumTerrainProvider.fromUrl(
            `https://api.maptiler.com/tiles/terrain-quantized-mesh-v2/?key=${key}`, {
            credit: new Cesium.Credit("<a href='https://www.maptiler.com/copyright/' target='_blank'>&copy;MapTiler</a> <a href='https://www.openstreetmap.org/copyright' target='_blank'>&copy; OpenStreetMap contributors</a>", true),
            requestVertexNormals: true
          }))
        });

        // Use browser geolocation to set camera
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition((position) => {
                const longitude = position.coords.longitude;
                const latitude = position.coords.latitude;

                viewer.camera.flyTo({
                    destination: Cesium.Cartesian3.fromDegrees(longitude, latitude, 5000),
                    orientation: {
                        pitch: Cesium.Math.toRadians(-30)
                    }
                });

                // Optional: Drop a marker on your position
                viewer.entities.add({
                    position: Cesium.Cartesian3.fromDegrees(longitude, latitude),
                    point: { pixelSize: 12, color: Cesium.Color.RED },
                    label: { text: "You are here", verticalOrigin: Cesium.VerticalOrigin.TOP }
                });
            }, (error) => {
                console.error("Geolocation error:", error);
            });
        } else {
            console.error("Geolocation not supported by this browser.");
        }
    </script>

</body>
</html>