@model TechWebSol.ViewModels.PasswordResetViewModel
<!DOCTYPE html>
@{
    Layout = null;
}
<html lang="en">
<head>
    <title>TBS Password Reset</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/login/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Login/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Login/css/main.css">
    <style>
        .textForValidation {
            text-decoration-color: #ff1a1a
        }
    </style>
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
           
            <div class="wrap-login100 col-md-5">
                <form class="login100-form validate-form" asp-controller="Account" asp-action="PasswordReset">
                    @*<img class="login100-form-logo" style="" src="~/login/images/logo.png" />*@
                    <span class="login100-form-logo js-tilt" data-tilt>
                    <img src="~/login/images/logo.png" style="width:180px;" />
                    </span>
                    <span class="login100-form-title p-b-34 p-t-27">
                        Change Password
                    </span>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" autocomplete="off" type="password" onblur="cnicCheck()" id="OldPassword" asp-for="OldPassword" placeholder="Old Password">
                        <span class="focus-input100" asp-validation-for="OldPassword" data-placeholder="&#xf191;"></span>
                        <span id="checkdubfail" class="text-danger"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" autocomplete="off" type="password" asp-for="Password" placeholder="New Password">
                        <span class="focus-input100" asp-validation-for="Password" data-placeholder="&#xf191;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" autocomplete="off" type="password" asp-for="ConfirmPassword" placeholder="Confirm Password">
                        <span class="focus-input100" asp-validation-for="ConfirmPassword" data-placeholder="&#xf191;"></span>
                    </div>
                    <input type="hidden" id="UserId" asp-for="ApplilicationUserId" />

                    <span class="text-danger" asp-validation-for="ConfirmPassword" ></span>

                    <div class="container-login100-form-btn">
                        <button type="submit" class="btn btn-success col-md-3 col-sm-3" style="color:white; border-radius:25px; background-color:#03523c">
                            Reset
                        </button>
                        <a href="~/Home/Index" type="submit" class="btn btn-success col-md-3 col-sm-3" style="color:white; border-radius:25px; background-color:#ff0000">
                            Close
                        </a>
                    </div>
                    
                    <div class="text-center p-t-90">
                        <a class="txt1" href="#">

                        </a>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/daterangepicker/moment.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/js/main.js"></script>
    <script src="~/Login/js/tilt.jquery.min.js"></script>

</body>
</html>
<partial name="_ValidationScriptsPartial" />

<script>

    $(document).ready(function () {

        var Width = $(window).width();
        var Height = $(window).height();
        $("#Height").val(Height);
        $("#Width").val(Width);
    });

</script>