@inject IUserSessionService _userSessionService;
@{
    var currentUser = _userSessionService.GetCurrentUser();
    Layout = "_GamePlayLayout";
    ViewData["Title"] = "Game Play Arena";
    ViewData["Subtitle"] = "Strategic Command Center - Fox Land vs Blue Land";
}

<div class="gameplay-container">
    <!-- MAIN AREA -->
    <main class="game-main-area">
        <!-- MAP -->
        <div class="game-map-container">
            <div id="gameMap"></div>
        </div>

        <!-- LEFT: Region Panel - Lazy Loaded -->
        <div id="regionPanelContainer">
            <!-- Will be lazy loaded -->
        </div>

        <!-- Overlay Controls - Lazy Loaded -->
        <div id="overlayControlsContainer">
            <!-- Will be lazy loaded -->
        </div>

    </main>

    <!-- RIGHT SIDEBAR -->
    <aside class="game-sidebar">
        <!-- Will be populated by components -->
    </aside>

    <!-- BOTTOM PANEL -->
    <div class="game-bottom-panel">
        <!-- Will be populated by components -->
    </div>
</div>

<!-- Modal Container - All modals will be lazy loaded here -->
<div id="modalsContainer">
    <!-- Modals will be lazy loaded -->
</div>

<!-- Scripts Container - Lazy Loaded -->
<div id="scriptsContainer">
    <!-- Scripts will be lazy loaded -->
</div>

<!-- Additional Map Libraries -->
<link rel="stylesheet" href="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.css" />
<link rel="stylesheet" href="~/css/regionControls.css" />

<!-- Core Scripts -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<!-- Map Libraries -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.js"></script>
<script src="https://unpkg.com/@@turf/turf@6.5.0/turf.min.js"></script>
<script src="https://unpkg.com/leaflet-providers@1.13.0/leaflet-providers.js"></script>

<!-- GamePlay Arena JavaScript Modules -->
<script src="~/js/lazy-loader.js"></script>
<script src="~/js/TokenManager.js"></script>
<script src="~/js/TokenPlacementManager.js"></script>
<script src="~/js/suspectedTokenManager.js"></script>
<script src="~/js/TokenActionModeManager.js"></script>
<script src="~/js/AttackVisualizationManager.js"></script>
<script src="~/js/RegionManager.js"></script>
<script src="~/js/regionControls.js"></script>
<script src="~/js/gamePlayManager.js"></script>
<script src="~/js/mapControls.js"></script>
<script src="~/js/scenarioPlanning.js"></script>

