@* @model IEnumerable<TechWebSol.Areas.Mail.Models.WorkFlowDefination> *@
@model List<TechWebSol.Areas.Mail.Models.WorkFlowDefination>
@{
    ViewData["Title"] = "Workflow Definations";
}
<!-- Small Model for all -->
<div class="modal fade show" id="ModelForAll" tabindex="-1" role="dialog" aria-labelledby="clientModalLabel" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="ModelContentDiv"></div>
        </div>
    </div>
</div>
<div class="card card-shadow">
    <div class="card-body" id="formContainer">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <a asp-action="Create" asp-area="Mail" asp-controller="WorkFlowDefinations" class="btn btn-primary action_link"><i class="fas fa-plus me-1"></i> Add New</a>
            </div>
            <table aria-label="" role="grid" id="dataTableGrid12" class="table table-striped w-100">
                <thead>
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Active</th>
                        <th scope="col">Created Date</th>
                    </tr>
                </thead>
            </table>
        </div>        
    </div>
</div>
@section Breadcrump {
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
    <li class="breadcrumb-item active">List</li>
}
@section Styles {
    <partial name="_datatablestylepartial" />
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
    <partial name="_DatatableScriptsPartial" />

    <script>
        $(document).ready(function () {
            var filters = {
                
            };

            var grdClientData = $('#dataTableGrid12').DataTable(
                {
                    ajax: {
                        url: "@Url.Action("Index", "WorkFlowDefinations")",
                        type: "POST",
                        datatype: "json",
                        contentType: "application/x-www-form-urlencoded",
                        data: function (d) {
                            // Apply filters to the request data
                            for (var key in filters) {
                                if (filters.hasOwnProperty(key)) {
                                    d[key] = filters[key]();
                                }
                            }
                        }
                    },
                    columns: [
                        {
                            render: function (data, type, full, meta) {
                                return `<a class=" btn-info" href="/Mail/WorkFlowDefinations/Details/${full.id}"' title="Details"><i class="fas fa-clipboard-list text-danger"></i></a>&nbsp;&nbsp;`
                                    + `<a class=" btn-info action_link" href="/Mail/WorkFlowDefinations/Edit/${full.id}"' title="Edit"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;`;

                            },
                            name: "id",
                            autoWidth: true,
                            searchable: true,
                            sortable: false,
                        },
                        { data: "id", name: "Id", autoWidth: true, searchable: false, visible: false },
                        { data: "name", name: "Name", autoWidth: true, searchable: true },
                        {
                            data: "isActive",
                            name: "isActive",
                            autoWidth: true,
                            searchable: true,
                            visible: true,
                            render: function (data, type, full, meta) {
                                var badgeClass = data ? "badge bg-success" : "badge bg-danger";
                                var badgeText = data ? "Yes" : "No";

                                return '<span class="' + badgeClass + ' badge-lg">' + badgeText + '</span>'; 
                            }
                        },
                        { data: "date", name: "Date", autoWidth: true, searchable: false, visible: true },
                    ],

                    dom: "<'table-responsive mb-3'tr>" +
                        "<'row'<'col-md-6 dt-footer-left'<'me-2'l>i><'col-md-6 dt-footer-right'p>>",
                    language: {
                        sLengthMenu: "_MENU_",
                        info: "Showing _START_ - _END_ of _TOTAL_",
                    }
                });


            // Highlight cells on mouseenter
            grdClientData.on('mouseenter', 'td', function () {
                let colIdx = grdClientData.cell(this).index()?.column;
                grdClientData.cells().nodes().each((el) => el.classList.remove('highlight'));
                grdClientData.column(colIdx).nodes().each((el) => el.classList.add('highlight'));
            });

            // Apply search filter
            $('#searchBtn').on('click', function () {
                grdClientData.draw();
            });

            $('#resetBtn').on('click', function () {
                grdClientData.draw();
            });
        });
    </script>
}
