@model TechWebSol.ViewModels.RoleViewModel
@{
    ViewData["Title"] = "Edit Role";
    var controllers = (IEnumerable<TechWebSol.ViewModels.MvcControllerInfo>)ViewData["Controllers"];
}
<link href="~/js/jquery-bonsai/jquery.bonsai.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Edit Role</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Role Name *</label>
                            <input asp-for="Name" class="form-control" placeholder="Enter role name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="card mt-3">
                            <div class="card-header bg-primary text-white">
                                <h5 class="mb-0">Access Permissions</h5>
                            </div>
                            <div class="card-body">
                                <ol id="tree">
                                    @foreach (var controller in controllers)
                                    {
                                        try
                                        {
                                            var selectedController = Model?.MvcControllerInfoCont?.SingleOrDefault(c => c.Id == controller.Name);
                                            var name = controller.DisplayName ?? controller.Name;
                                            
                                            <li class="controller" data-value="@controller.Name">
                                                <input type="hidden" class="area" value="@controller.AreaName" />
                                                @name
                                                @if (controller.Actions.Any())
                                                {
                                                    <ul>
                                                        @foreach (var action in controller.Actions)
                                                        {
                                                            name = action.DisplayName ?? action.Name;
                                                            <li data-value="@action.Name"
                                                            @if (selectedController != null && selectedController.Actions.Any(a => a.Name == action.Name))
                                                            {
                                                                <text> data-checked='1' </text>
                                                            }>
                                                                @name
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                        catch (Exception)
                                        {
                                        }
                                    }
                                </ol>
                            </div>
                        </div>

                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> Save Changes
                            </button>
                            <a asp-action="Index" class="btn btn-secondary">
                                <i class="fas fa-arrow-left"></i> Back to List
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/core/jquery.min.js"></script>
<script src="~/js/jquery-bonsai/jquery.qubit.js"></script>
<script src="~/js/jquery-bonsai/jquery.bonsai.js"></script>

<script>

    $('#tree').bonsai({
        expandAll: true,
        checkboxes: true, // depends on jquery.qubit plugin
        createInputs: 'checkbox' // takes values from data-name and data-value, and data-name is inherited
    });

    $('form').submit(function () {
        var i = 0, j = 0;
        $('.controller > input[type="checkbox"]:checked, .controller > input[type="checkbox"]:indeterminate').each(function () {
            var controller = $(this);
            if ($(controller).prop('indeterminate')) {
                $(controller).prop("checked", true);
            }
            var controllerName = 'SelectedControllers[' + i + ']';
            $(controller).prop('name', controllerName + '.Name');

            var area = $(controller).next().next();
            $(area).prop('name', controllerName + '.AreaName');

            $('ul > li > input[type="checkbox"]:checked', $(controller).parent()).each(function () {
                var action = $(this);
                var actionName = controllerName + '.Actions[' + j + '].Name';
                $(action).prop('name', actionName);
                j++;
            });
            j = 0;
            i++;
        });

        return true;
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}