<div class="map-overlay-controls">
    <div class="overlay-control-group">
        <h6>War Game Tools</h6>
        <div class="control-row">
            <button class="overlay-btn" id="btnPlaceToken">
                <i class="fas fa-plus"></i>
                <span>Place Token</span>
            </button>
            <button class="overlay-btn" onclick="openDataEntry()">
                <i class="fas fa-database"></i>
                <span>Military Units</span>
            </button>
        </div>
        <div class="control-row">
            <button class="overlay-btn" onclick="planMovement()">
                <i class="fas fa-route"></i>
                <span>Plan Move</span>
            </button>
            <button class="overlay-btn" onclick="createObjective()">
                <i class="fas fa-flag"></i>
                <span>Objective</span>
            </button>
        </div>
    </div>


    <div class="overlay-control-group">
        <h6>View Controls</h6>
        <div class="control-row">
            <button class="overlay-btn" onclick="toggleFullscreen()">
                <i class="fas fa-expand"></i>
                <span>Fullscreen</span>
            </button>
            <button class="overlay-btn" onclick="resetMapView()">
                <i class="fas fa-home"></i>
                <span>Reset View</span>
            </button>
        </div>
    </div>
</div>
